body, html {
    height: 100%;
}

p{
	font-family: Source Sans Pro, serif;
	font-size: 15px;
	color: gray;
}

.bg { 
    /* The image used */
    background-image: url('../../include/pictures/background.jpg');

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row_1 {
	height: 15%;
}

.line{
	width: 100%;
	height: 50%;
	border-bottom: 1px solid #dddddd;
	/*position: absolute;*/
}
.btn {
	/*background-color: #dddddd;*/
	border-color:#727272 ;
}

.btn:hover {
	border-color: #FFC0CB;
	/*background-color: #FFC0CB;*/
}

.btn-circle{
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.img-thumbnail {
	border: 0;
}	
/*
.btn-twitter {
	background-color: white;
	border-color: pink;
}*/